* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e90ff, #00bfff);
    font-family: Arial, Helvetica, sans-serif;
}

/* WHITE BOX */
.upload-box {
    background: #ffffff;
    width: 90%;
    max-width: 420px;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.upload-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.upload-box input[type="file"] {
    width: 100%;
    padding: 14px;
    border: 2px dashed #1e90ff;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.upload-box select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
}

.upload-box button {
    width: 100%;
    padding: 14px;
    background: #1e90ff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.upload-box button:hover {
    background: #187bcd;
}