<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="page">
    <div class="box">
        <h1>Resume Analyzer</h1>

        <form action="/analyze" method="post" enctype="multipart/form-data">

            <label class="upload-area">
                Click to upload resume (PDF)
                <input type="file" name="resume" accept=".pdf" hidden required>
            </label>

            <select name="role" required>
                <option value="">Select Role</option>
                <option>Data Analyst</option>
                <option>Data Scientist</option>
                <option>Software Engineer</option>
                <option>Business Analyst</option>
            </select>

            <button type="submit">Analyze Resume</button>
        </form>
    </div>
</div>

</body>
</html>