<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="upload-box">
        <h2>Resume Analyzer</h2>

        <form action="/analyze" method="POST" enctype="multipart/form-data">
            <input type="file" name="resume" accept=".pdf" required>

            <select name="role" required>
                <option value="Software Engineer">Software Engineer</option>
                <option value="Data Analyst">Data Analyst</option>
                <option value="Data Scientist">Data Scientist</option>
                <option value="Business Analyst">Business Analyst</option>
            </select>

            <button type="submit">Analyze Resume</button>
        </form>
    </div>

</body>
</html>